.copy-button {
  font-family: Helvetica, sans-serif;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 0.2rem;
}

.copy-button:hover {
  background-color: #e0e0e0;
}
