@font-face {
  font-family: HYZhengYuan;
  src: url("https://alickx-1300061766.cos.ap-guangzhou.myqcloud.com/fonts/HYZhengYuan-55W.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
