@font-face {
  font-family: "JetBrains Mono";
  src: url("https://alickx-1300061766.cos.ap-guangzhou.myqcloud.com/fonts/JetBrainsMono-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
